
<h1>Iniciá sesionn</h1>

<form method="post">
    <label>Nombre user</label>
    <input type="text" name="username" placeholder="user" class="form-control" />
    <label>Password</label>
    <input type="text" name="password" placeholder="user" class="form-control" />
    <button class="btn btn-primary">
        Iniciar Sesion
    </button>
</form>

<h2 class="text-danger">
    @ViewData["MENSAJE"]
</h2>