<h1>
    Log In Empleados
</h1>

<form method="post">
    <label>Apellido</label>
    <input type="text" name="username"
           class="form-control" required />
    <label>Password</label>
    <input type="text" name="password"
           class="form-control" required />
    <button class="btn btn-warning">
        Log In
    </button>
</form>
<h2 style="color:rebeccapurple">@ViewData["MENSAJE"]</h