@model List<Genero>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
        Géneros
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        @foreach (Genero genero in Model)
        {
            <li>
                <a class="dropdown-item"
               asp-controller="Libro" 
               asp-action="LibroGenero"
               asp-route-idgenero="@genero.IdGenero"
               >
                    @genero.Nombre
                </a>
            </li>
        }
    </ul>
</div>
